@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  padding: 0.5rem;
}

header h1 {
  margin-top: 2rem;
  color: #707060;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 4rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

main .carrousel {
  padding-bottom: 1 rem;
}
main .carrousel .img-carrousel {
  object-fit: scale-down;
  height: 50vh;
  width: 100%;
}
main .parrafo {
  padding: 1rem;
}
main .parrafo h2 {
  color: #707060;
  text-align: center;
}
main .parrafo p {
  color: #707060;
  text-align: justify;
}
main .grid-container {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 3px;
}
main .grid-container .first-item {
  grid-column: 1/4;
  grid-row: 1/4;
}
main .grid-container .first-item:hover {
  opacity: 60%;
}
main .grid-container .second-item {
  grid-column: 1/4;
  grid-row: 3/6;
}
main .grid-container .second-item:hover {
  opacity: 60%;
}
main .grid-container .third-item {
  grid-column: 4/7;
  grid-row: 1/6;
}
main .grid-container .third-item:hover {
  opacity: 60%;
}
main .grid-container .forth-item {
  grid-column: 4/7;
  grid-row: 3/6;
}
main .grid-container .forth-item:hover {
  opacity: 60%;
}
main .diseñador {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  color: #707060;
}
main .diseñador .caja1 img {
  width: 8rem;
}
main .diseñador .caja2 img {
  width: 7.6rem;
}
main .lineas-diseño {
  color: #707060;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
main .lineas-diseño img {
  width: 30%;
}
main .kaizen h4 {
  color: #707060;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
main p {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 2rem;
  align-items: center;
  color: #707060;
}
main .button {
  background-color: #707060;
  padding: 1rem;
  border-radius: 1rem;
  display: block;
  width: 150px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  font-weight: 600;
}
main .button:hover {
  opacity: 80%;
}
main .button a {
  text-decoration: none;
  color: white;
}

footer {
  display: flex;
  justify-content: space-around;
  color: #707060;
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid #707060;
  padding-top: 1rem;
}

.carousel-inner {
  width: 100%;
  padding: 2rem;
  border-bottom: 2px #707060 solid;
}

body .interiorismo-titulo {
  color: #707060;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border: 1px solid #707060;
  margin-top: 3rem;
}
form {
  padding: 4rem;
  margin-top: 3rem;
}

header {
  margin-bottom: 2rem;
}

body .mobiliario-titulo {
  color: #707060;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border: 1px solid #707060;
  margin-top: 3rem;
}
body .mobiliario-texto, body .interiorismo-texto {
  color: #707060;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3rem;
  text-align: justify;
}

body .mobiliario-titulo {
  margin-top: 3rem;
}

/*# sourceMappingURL=style.css.map */
