*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #707060;
}

header {
    padding: 1.8rem;
    border-bottom: 1px solid #efece8;
}

body header nav ul img {
    width: 12rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

body nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

body nav ul li a {
    color: #efece8;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5rem;
    font-weight: 500;
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #efece8;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 1px solid #707060;

}



 

