@import "../utilities/variables";

header {
    margin-bottom: 2rem;
}

body {
    .mobiliario-titulo {
        color: $color-text;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 1rem;
        border: 1px solid #707060;
        margin-top: 3rem;
    }
    .mobiliario-texto {
        color: $color-text;
        font-family: Arial, Helvetica, sans-serif;
        padding: 3rem;
        text-align: justify;
    }  
    
}